html,body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial", "Verdana",  Sans-serif;
    background: url("../img/blog-travel.png");
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    padding-top: 40px;
}

.layout {
    min-height: 100%;
}

.layout:after {
    content: "";
    display: block;
    height: 70px;
}

/*Header
=====================================================================*/

.header {
    height: 40px;
    background-color: #16a085;
}

.header-menu {
    float: left;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 25px;
    background: #049372 url("../img/logo.png") no-repeat center;
    float: left;
}

.menu-item {
    width: 100px;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    float: left;
    transition: background-color .2s, color .2s;
}

.menu-item:hover:not(.menu-item-active) {
    color: #fbe371;
    background-color: #049372;
}

.menu-item-active {
    color: #fbe371;
    cursor: text;
}

.header-icons {
    float: right;
}

.site-search {
    width: 60px;
    height: 40px;
    background: url("../img/search.png") no-repeat center;
    border-right: 1px solid #169179;
    float: left;
}

.social-networks {
    height: 40px;
    float: left;
    border-right: 1px solid #169179;
}

.item-facebook,
.item-twitter,
.item-google {
/*    display: inline-block;*/
    width: 50px;
    height: 40px;
    transition: background-color .2s;
    float: left;
}

.item-facebook {
    background: url("../img/facebook.png") no-repeat center;
}

.item-twitter {
    background: url("../img/twitter.png") no-repeat center;
}

.item-google {
    background: url("../img/g+.png") no-repeat center;
}

.item-facebook:hover,
.item-twitter:hover,
.item-google:hover,
.profile:hover {
    background-color: #049372;
}

.login-profile {
    display: inline-block;
    width: 65px;
    height: 40px;
    background: url("../img/profile.png") no-repeat center;
    transition: background-color .2s;
}

/*Footer
=======================================================================*/

.footer {
    height: 50px;
    padding: 0 20px;
    margin-top: -50px;
    background-color: #16a085;
    box-sizing: border-box;
}

.footer-copyright {
    font-size: 12px;
    color: #fbe371;
    line-height: 50px;
    text-decoration: none;
    float: left;
}

.year {
    display: block;
    font-size: 12px;
    margin-left: 5px;
    color: #fff;
    line-height: 50px;
    float: left;
}

.footer-menu {
    font-size: 12px;
    line-height: 50px;
    float: right;
}

.footer-link {
/*    display: inline-block;*/
    margin-right: 3px;
    text-decoration: none;
    color: #fff;
}

.footer-link-active {
    color: #fbe371;
    cursor: text; 
}



/*Banner
=======================================================================*/

.banner {
    height: 350px;
    width: 960px;
    padding: 47px 57px;
    margin-top: 20px;
    box-sizing: border-box;
}

.banner-header {
    color: #fff;
    font-size: 46px;
}

.banner-text {
    margin-top: 30px;
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}

.banner-btn {
    display: inline-block;
    padding: 0 35px 0 40px;
    text-decoration: none;
    text-align: center;
    line-height: 52px;
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 2px;
    transition: background .1s, color .1s;
}

.banner-btn:hover {
    background-color: #fff;
    color: #3e3e3c;
}


/*Main
=========================================================================*/

.block {
    
}

/*Sidebar*/

.sidebar {
    width: 300px;
    float: left;
    margin-top: 20px;
}

.sidebar-sections {
    padding: 26px 33px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 4px #e5e5e5;
}

.sections {
    margin-bottom: 20px;
    font-size: 15px;
}

.sections-header {
    font-size: 16px;
    margin-bottom: 22px;
}

.sections-header-link,
.sections-link,
.sections-active-header-link,
.sections-active-link {
    text-decoration: none;
}

.sections-link {
    color: #272727;
}

.sections-header-link {
    color: #049372;
    cursor: text;
}

/*section-active*/
.sidebar-sections-active {
    padding: 26px 33px;
    box-sizing: border-box;
    background-color: #16a085;
    box-shadow: 0 0 4px #e5e5e5;
}

.sections-active {
    margin-bottom: 20px;
    font-size: 15px;
}

.sections-active-header {
    font-size: 16px;
    margin-bottom: 22px;
}

.sections-active-link:hover,
.sections-link:hover {
    text-decoration: underline;
}

.sections-active-header-link {
    color: #fbe371;
    cursor: text;
}

.sections-active-link {
    color: #e8f3f1;
}
/*end section-active*/

.last-record {
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 4px #e5e5e5;
}

.last-record-header {
    padding: 0 20px 0;
    font-size: 24px;
    line-height: 64px;
    color: #475055;
    border-bottom: 1px solid #eef1f1;
    box-sizing: border-box;
}

.last-record-list {
    padding: 25px 15px;
}

.last-record-item-wrapper {
    padding-bottom: 20px;
}

.last-record-item-wrapper:last-child {
    padding-bottom: 0;
}

.last-record-item-img {
    float: left;
}

.last-record-text {
    margin-left: 17px;
    font-size: 15px;
    color: #475055;
    text-decoration: none;
    line-height: 1.4;
    float: left;
}

.last-record-text:hover {
    color: #a8a8a8;
}

.last-record-time {
    margin: 10px 0 0 17px;
    font-size: 14px;
    color: #6e7579;
    float: left;
}

/*Form*/
.form-wrapper {
    background-color: #fff;
    margin-top: 20px;
    padding: 30px 20px 20px;
    box-shadow: 0 0 4px #e5e5e5;
}

.form-header {
    font-size: 24px;
    color: #475055;
    margin-left: 10px;
}

.text-name,
.text-email {
    width: 260px;
    height: 40px;
    font-size: 16px;
    font-family: "Arial";
    padding: 0 10px;
    box-sizing: border-box;
    color: #596165;
    border: 1px solid #dde2e4;
}

.text-name {
    margin-top: 25px;
}

.text-email {
    margin-top: 20px;
}

.btn-send {
    width: 110px;
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
    background-color: #24c281;
    color: #dff4e9;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .2s;
}

.btn-send:hover {
    background-color: #1ca76e;
}

.textarea-form {
    width: 260px;
    height: 110px;
    padding: 10px 15px;
    margin-top: 20px;
    font-family: "Arial";
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
    color: #596165;
    border: 1px solid #dde2e4;
}

::-webkit-input-placeholder {
    color: #a3abaf;
}
/*End form*/


/*Content*/
.content {
    width: 620px;
    float: right;
}

.content-item {
    margin-top: 20px;
    box-shadow: 0 0 4px #e5e5e5;
    position: relative;
}

.content-item::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: #049372 url(../img/article-icon.png) no-repeat center;
    position: absolute;
    top: 185px;
    left: 0;
    
}

.content-item-img {
    width: 620px;
    height: 145px;
    background-size: cover;
}

.content-item-blog {
    background-color: #fff;
    padding: 45px 45px 25px 75px;
}

.content-item-header {
    font-size: 24px;
    color: #475055;
}

.content-item-text {
    margin-top: 35px;
    font-size: 15px;
    color: #475055;
    line-height: 1.4;
}

.content-item-text-link {
    text-decoration: none;
    color: #16a085;
}

.content-item-text-link:hover {
    text-decoration: underline;
    color: #0d6755;
}

.views-icon,
.share-icon,
.comments-icon {
    display: inline-block;
    height: 16px;
    font-size: 15px;
    padding-left: 30px;
    margin: 60px 23px 0 0;
    color: #475055;
    box-sizing: border-box;
 }

.views-icon {
    background: url(../img/views%20icon.png) no-repeat;
}

.share-icon {
    background: url(../img/share-icon.png) no-repeat;
}

.comments-icon {
    background: url(../img/comments-icon.png) no-repeat;
    margin-right: 0;
}

.comments-icon-link {
    text-decoration: none;
    color: #475055;
}

.comments-icon:hover {
    text-decoration: underline;
}









.clearfix:after {
    content: "";
    display: block;
    clear: both;
}








.travel {
    display: none;
    position: absolute;
    top: 0;
    left: 45px;
    opacity: .5;
}